@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

    color: #222;
}

.btn {
    background-color: #8bb7a2;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 1.2rem 4rem;
}

.container {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

/* Header Section */

.header-section {
    height: 100vh;
    background-color: #636c79;
}

/* Navbar Section */

.navbar-section {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    margin-bottom: 4rem;

}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-left: 3rem;

}

.nav-items .nav-btn {
    border: 1px solid #979797;
    padding: .8rem 4rem;
}

/* hero section */

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-img {
    border-radius: 5px;
    width: 560px;
    margin-left: 2rem;
}

.heading-hero {
    color: #fff;
    font-size: 80px;
    margin-bottom: 2rem;
    font-family: 'Raleway', sans-serif;
}

.hero-desc {
    color: #d9d9d9;
    padding-right: 4rem;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 2.5rem;
    margin-bottom: 2rem;
}

.email-input {
    background-color: #fff;
    width: 86%;
    height: 5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

.email input {
    border: none;
    width: 300px;
    height: 2rem;
    outline: none;
    font-size: 20px;
}

input::placeholder {
    font-size: 20px;
}

.hero-btn {
    margin-right: .6rem;
}

/* Stats Section */

.stats-heading {
    margin-top: 8rem;
    text-align: center;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 4rem;
}

.stats-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-bottom: 4rem;
}

.numbers {
    font-size: 48px;
    margin-bottom: 1rem;
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: #444;
}

.stats-discuss {
    width: 100%;
    margin-bottom: 16rem;
}

.stats-img {
    position: relative;
}

.fa-circle-play {
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: -15px 0px 0px #fff inset;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #8bb7a2;
    color: #fff;
}

.circle-1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #fff;
    background: none;
}

.circle-2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 1px solid #fff;
    opacity: .5;
    background: none;
}

/* Design Section */

.design-heading {
    text-align: center;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 4rem;
}

.design-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 4rem;
}

.main {
    font-size: 54px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2rem;
    padding-right: 6rem;
}

.desc {
    font-size: 24px;
    padding-right: 4rem;
    color: #979797;
    margin-bottom: 2rem;
}

.design-img img {
    width: 95%;
    padding: 2rem;
}

.marketing .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 4rem;
}

.marketing-img img {
    width: 95%;
    padding: 2rem;
}

.connection .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 4rem;
}

.connection-img img {
    width: 95%;
    padding: 2rem;
}

.team-main-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 4rem;
}

.team-heading {
    font-size: 54px;
    font-family: 'Raleway', sans-serif;
}

.side-text {
    font-size: 26px;
    color: #979797;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-bottom: 4rem;
}

.member-img {
    width: 100%;
    margin-bottom: 2rem;
}

.member-name {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 2rem;

}

.member-intro {
    font-size: 20px;
    color: #979797;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .btn {
    text-decoration: none;
    margin-bottom: 8rem;
}

/* Footer Section */

footer {
    margin-top: auto;
    background-color: #10181d;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.footer-top .logo {
    width: 150px;
}

.fa-brands {
    color: #fff;
    background-color: #282f34;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 1.2rem;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #282f34;
    margin-bottom: 4rem;
}

.footer-items {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 8rem;
}

.list-heading {
    color: #fff;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.list a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #c3c5c7;
    font-weight: 400;
    font-size: 18px;
}